<h1>Гипотеза Симона о факториале</h1>
<p>
  Существует гипотеза Симона о факториале. Она гласит, что существует 4 факториала,
  которые представимы в виде произведения трех последовательных чисел.
  Например: 4! = 2 · 3 · 4. Написать программу, определяющую эту четверку,
  подсчитать действительное количество таких факториалов, если это возможно и тем самым доказать неправильность
  гипотезы. Вывести на печать результаты каждой итерации и финальных расчетов.
</p>
<%= form_tag("/count_factorials/view.json", :method => "get", remote: true, id: "factorials-form") do %>
  <%= submit_tag("Посчитать факториалы", id: "get-result") %>
<% end %>

<div id="result"></div>
