<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Factorial</th>
  </tr>
  </thead>
  <tbody>
    <% @array_of_rows.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %>! = <%= (row[2] - 1..row[2] + 1).to_a.join(" * ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Go back", :count_factorials_input %>
